    .heart {
       background: url(../images/heart/web_heart_animation.png);
       background-repeat: no-repeat;
       height: 50px;
       width: 50px;
       cursor: pointer;
       background-size:cover;
       margin-left: -10px;
   }
   .heart:hover, .heart:focus{
    background-position: right;
}

@-webkit-keyframes heartBlast {
    0% {
       background-position: left;
   }
   100% {
       background-position: right;
   }
}

@keyframes heartBlast {
   0% {
       background-position: left;
   }
   100% {
       background-position: right;
   }
}

.heartAnimation {
    display: inline-block;
    -webkit-animation-name: heartBlast;
    animation-name: heartBlast;
    -webkit-animation-duration: .8s;
    animation-duration: .8s;
    -webkit-animation-iteration-count: 1;
    animation-iteration-count: 1;
    -webkit-animation-timing-function: steps(28);
    animation-timing-function: steps(28);
    background-position: right;
}